* {
	box-sizing: border-box;
}

body {
	margin: 0;
	height: 100%;
	background-color: black;
}

nav {
	background-color: #C0C0C0;
	color: black;
	text-decoration: none;
	display: flex;
	position: relative;
	font-family: sans-serif;
	padding: 1em;
}

nav.all-nav {

}
nav a {
    color: black;
    text-decoration: none;
   
    display: inline-block;
    padding: .5em;
}

nav a:hover {
	color: white;
	text-decoration: none;
}

ul {
	list-style: none;
	margin:  0;
	padding: 0;
}

.left-nav {
	display: flex;
	margin-right: auto;
	align-items: center;

	}

.right-nav {
	display: flex;
	margin-left: auto;
	align-items: center;
}

.logo-link {
	font-family: 'Monserrat', sans-serif;
	font-size: 2em;
	position: absolute;
	right: 50%;
	bottom: 10%;

}

footer {
	background-color: #C0C0C0;
	text-decoration: none;
	color: black;
	position: fixed;
	display: flex;
	font-family: 'Monserrat', sans-serif;
	bottom: 0;
	width: 100%;
	padding: 1.5em;

}

footer a {
	color: black;
	text-decoration: none;
	display: inline-block;
	padding: .5em;
}

footer a:hover {
	color: white;
	text-decoration: none;

}

.left-footer {
	
	display: flex;
	margin-right: auto;
	align-items: center;

}

.logo-footer {
	position: absolute;
	right: 50%;
	font-size: 2em;
	font-family: 'Monserrat', sans-serif;
	top: 30%;
}

.right-footer {
	display: flex;
	margin-left: auto;
	align-items: center;

}

.login-form {
	
	position: fixed;
	left: 26%;
	top: 15%;
	padding: 2em;
	margin auto;
	background-color: white;
	width: 40%;
	height: 65%;

	
}

.login {
	position: absolute;
	text-align: center;
	font-family: 'Monserrat', sans-serif;
	font-weight: lighter;
	top: 0;
	right: 30%;
}

.sign-in {
	text-align: center;

}

.submit {
	background-color: lightcyan;
	width: 100%;
	padding: .5em;
	border-width: .5px darkcyan;

}















